@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
h1 {
  text-align: center;
}
.slide {
  width: 640px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}
.slide img {
  width: 640px;
  height: 320px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  top: 0;
}
.slide > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide > li {

}
.active {
  display: block;
}
.page {
  width: 640px;
  margin: 0 auto;
}
.page ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: space-around;
}
.page li {
  /* position: absolute; */
}
