@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1 {
  text-align: center;
}
.slide {
  width: 640px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}
.slide img {
  width: 640px;
  height: 320px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  top: 0;
}
.slide > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide > a {
  text-decoration: none;
  color: inherit;
}
a#prev {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateX(-50%) translateY(-50%);
}
a#next {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateX(-50%) translateY(-50%);
}
.active {
  display: block;
}
.page {
  width: 640px;
  margin: 0 auto;
}
.page ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.page li {
  /* position: absolute; */
}
.page ul li a {
  display: block;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(0,255,255,1);
}
.page .active a {
  background-color: #0ff;
}
.banner {
  margin: 0 auto;
  width: 60%;
}
.banner ul {
  list-style: none;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.banner ul li {

}
.banner ul li img {
  vertical-align: bottom;
  margin: 0 10px;
}
.banner a {
  display: block;
  height: 0;
}
.banner a:hover {
  opacity: 0.7;
}
.banner .active img {
  border: 3px solid #f63;
}
