@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1 {
  text-align: center;
}
.contents {
  width: 50%;
  margin: 0 auto;
}
.contents > ul {
  margin: 0;
  padding-left: 30px;
  list-style: none;
  display: flex;
  border-bottom: 3px solid #f63;
  /* justify-content: center; */
}
.contents > ul li {
  width: 15%;
  /* height: 20px; */
  padding: 5px 0;
  text-align: center;
  border: 1px solid #f63;
  border-bottom: none;
}
.contents > ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.contents > ul li:hover {
  opacity: 0.5;
}
.tab-box {
  padding: 20px;
}
.tab {
  display: none;
}
.tab:first-child {
  display: block;
}
.tab h2 {
  margin-top: 0;
}
.tab p {
  margin-bottom: 0;
}
.contents > ul li.active {
  background-color: #f63;
  color: #fff;
}
